:root{
    --height:650px;
}

.root-wrapper{
    display: flex;
    width: 95%;
    margin: 20px;
    border: 1px solid rgb(20, 67, 20);
}
.img-section{
    width:20%;
    height: var(--height);
    padding: 10px;
}
.content-section{
    width:80%;
    height: var(--height);
    padding: 10px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.back-btn{
    margin:5px
}